<a href="{{ href }}" class="my-button {{ class_modifier }}">
  {{- title -}}
</a>

<style>
  .my-button {
    border: none;
    border-radius: 8px;
    padding: 14px;
    text-decoration: none;
    transition: background 0.3s ease;
    display: inline-block;
    cursor: pointer;
  }
</style>
