<section>
  <div>
    <!-- Title -->
    <div>
      <h3>
        “ Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.”
      </h3>
    </div>
    <!-- Ingredient images -->
    <div>
      <div>
        {{ 'product-1' | placeholder_svg_tag }}
      </div>
    </div>
  </div>
</section>
