<section>
  <div></div>
</section>

{% schema %}
{
  "name": "Prove",
  "class": "prove",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Prove",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
