<section class="two-columns">
  <div class="two-columns-container">
    <div class="two-columns__wrapper">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'two-columns' -%}
              <div class="two-columns__card">
                <div class="two-columns__text">
                  <h2>
                    Grass-fed, Multi Whey,<br>
                    nebo kasein?
                  </h2>
                  <p>Vyber si protein, který bude vyhovovat právě tobě</p>
                  <button class="btn">Koupit</button>
                </div>
                <div class="two-columns__image">
                  {%- if block.settings.two_columns__image != blank -%}
                    {{
                      block.settings.two_columns__image
                      | image_url: width: 600
                      | image_tag: class: 'two-columns__img'
                    }}
                  {%- else -%}
                    {{- 'product-5' | placeholder_svg_tag: 'two-columns__img' -}}
                  {%- endif -%}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      {%- else -%}
        {%- for item in (1..2) -%}
          <div class="two-columns__card">
            <div class="two-columns__text">
              <h2>
                Grass-fed, Multi Whey,<br>
                nebo kasein?
              </h2>
              <p>Vyber si protein, který bude vyhovovat právě tobě</p>
              <button class="btn">Koupit</button>
            </div>
            <div class="two-columns__image">
              {{- 'product-5' | placeholder_svg_tag: 'two-columns__img' -}}
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>

<style>
  .two-columns {
    width: 100%;
    height: fit-content;
  }
  /* Promo container */
  .two-columns-container {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
    color: #1a1a1a;
  }
  .two-columns__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  /* Promo card */
  .two-columns__card {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    height: 400px;
    gap: 20px;
    position: relative;
  }

  /* Text block */
  .two-columns__text {
    z-index: 100;
  }
  .two-columns__text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .two-columns__text p {
    font-size: 14px;
    margin-bottom: 16px;
    color: #333;
  }

  .btn {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 18px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #333;
  }

  /* Image block */
  .two-columns__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
  }
  .two-columns__image .two-columns__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
  }

  /* Responsive layout */
  @media (min-width: 750px) {
    .two-columns__wrapper {
      flex-direction: row;
      gap: 20px;
    }

    .two-columns__card {
      flex: 1;
      flex-direction: row;
      align-items: center;
      padding: 30px;
    }

    .two-columns__text {
      flex: 1;
      padding-right: 20px;
    }

    .two-columns__image {
      flex: 1;
    }
  }
</style>

{% schema %}
{
  "name": "Two columns",
  "settings": [],
  "blocks": [
    {
      "name": "Two-columns",
      "type": "two-columns",
      "settings": [
        {
          "type": "image_picker",
          "id": "two_columns__image",
          "label": "Two image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two-columns",
      "settings": {}
    }
  ]
}
{% endschema %}
